<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Some name</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="icon" type="image/x-icon" href="favicon.ico">
     <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&amp;display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
 </head>
  <body>
    <div class="page">
            <div class="section1">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                      <div class="nameText">
                        <h1>Some name</h1>
                      </div>
                        <div class="section1__buttons">
                          <a class="mnbtn" (click)="authClick()">Авторизоваться</a>
                          <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>

<app-sort-header></app-sort-header>
